<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <gameName>梦幻海岛</gameName>
  <bundleIdentifier>com.goutang.fantasybay</bundleIdentifier>
  <gameVersion>0.1.0</gameVersion>
  <bundleVersion>1</bundleVersion>
  <versionCode>2</versionCode>
  <svnVersion>8888</svnVersion>
  <subpacket>0</subpacket>

  <hotUpdateRes>false</hotUpdateRes>
  <debugMod>true</debugMod>

  <debug>
    <configFile 	url="http://192.168.0.98/mmRes/0.1.1/config.xml"/>
    <resServer  	url="http://192.168.0.98/mmRes/"/>
	<appDownload  	url="http://192.168.0.98/apps"/>
	<regServer  	url="http://192.168.0.16:8030/"/>
  </debug>

  <release>
    <configFile 	url="http://149.129.35.2/mmRes/0.1.0/config.xml"/>
    <resServer  	url="http://149.129.35.2/mmRes/"/>
	<appDownload  	url="http://149.129.35.2/apps/"/>
	<regServer  	url="http://reg.gt.com:8010/"/>
  </release>

</configuration>
